.about {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.about_text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__title {
    font-size: var(--size-3xl);
    color: var(--light-color);
}

.about__description {
    font-size: var(--size-l);
    color: var(--other-color);
    max-width: 70ch;
}

.about__line {
    border-color: var(--medium-color);
}

.about__subtitle {
    font-size: var(--size-xl);
}

.about_list_layout {
    display: flex;
}
.about__ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
     list-style-type:  '\1F90C';
     padding-left: 1em;
     flex: 1 ;
}

.about__list {
    font-size: var(--size-m);
    color: var(--other-color);
}

.about__list::before {
    content: '';
    margin-left: 0.5em;
}

/* xs */

@media (min-width: 475px) {
    .about {
    gap: 2.5rem;
}
.about_text {
    gap: 1.5rem;
}

.about__title {
    font-size: var(--size-4xl);
}

.about__description {
    font-size: var(--size-xl);
}

.about__subtitle {
    font-size: var(--size-2xl);
}

.about__list {
    font-size: var(--size-l);
    
} 
}

/* s */

/* @media (min-width: 640px) {
        .container {
        max-width: 645px
    }
} */

/* m */

/* @media (min-width: 768px) {
        .container {
        max-width: 780px
    }
} */

/* l */

@media (min-width: 1024px) {
    .about{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .about_img {
        width: 29rem;
        height: 30rem;
    }

}

/* xl */

@media (min-width: 1280px) {
        .about {
    gap: 2.5rem;
}
.about_text {
    gap: 2rem;
}

.about__title {
    font-size: var(--size- 5xl);
}

.about__description {
    font-size: var(--size-2xl);
}

.about__subtitle {
    font-size: var(--size-3xl);
}

.about__list {
    font-size: var(--size-xl);
    
} 
.about_img {
    width: 30.75rem;
}
}

/* xxl */
 
/* @media (min-width: 1536px) {
        .container {
        max-width: 1536px
    } 
} */
