.hero {
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 1rem;
     margin-top: 2rem ;
}

.hero__img {
    display: inline;
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    
}

.hero__subtitle {
    color: var(--other-color);
    font-size: var(--size-l);
    line-height: 0.9;
}

.hero__title {
    font-size: var(--size-5xl);
    font-weight: 800;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--light-color);
    letter-spacing: -0.05em;
    line-height: 0.9 ;
}

.hero__description {
    max-width: 50ch;
    font-size: var(--size-s);
    color: var(--other-color);
}

.hero__btn {
    text-transform: capitalize;
    font-size: var(--size-s);
}


/* xs */

@media (min-width: 475px) {
    .hero {
     gap: 1.5rem;

}

.hero__img {
    width: 6.5rem;
    height: 6.5rem;
}

.hero__subtitle {
    font-size: var(--size-xl); 
}

.hero__title {
    font-size: var(--size-6xl);
}

.hero__description {
    font-size: var(--size-l);
}

.hero__btn {

    font-size: var(--size-m);
}

}

/* s */

/* @media (min-width: 640px) {
        .container {
        max-width: 645px
    }
} */

/* m */

/* @media (min-width: 768px) {
        .container {
        max-width: 780px
    }
} */

/* l */

@media (min-width: 1024px) {

.hero__img {
    width: 8rem;
    height: 8rem;
}

.hero__subtitle {
    font-size: var(--size-3xl); 
}

.hero__title {
    font-size: var(--size-7xl);
}

.hero__description {
    font-size: var(--size-xl);
}

.hero__btn {

    font-size: var(--size-l);
}

}


/* xl */

@media (min-width: 1280px) {

.hero {
    gap: 2rem;
}
.hero__img {
    width: 10rem;
    height: 10rem;
}

.hero__subtitle {
    font-size: var(--size-4xl); 
}

.hero__title {
    font-size: var(--size-8xl);
}

.hero__description {
    font-size: var(--size-2xl);
}

.hero__btn {

    font-size: var(--size-xl);
}
}

/* xxl */
 
@media (min-width: 1536px) {
.hero {
    gap: 2rem;
}
.hero__img {
    width: 12rem;
    height: 12rem;
}

.hero__subtitle {
    font-size: var(--size-5xl); 
}

.hero__title {
    font-size: var(--size-10xl);
}

.hero__description {
    font-size: var(--size-4xl);
}

.hero__btn {

    font-size: var(--size-2xl);
}
}