.projects {
    text-align: center;
}

.projects__title {
        font-size: var(--size-3xl);
        color: var(--light-color);
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 1rem;
}

.projects__description {
    color: var(--other-color);
    font-size: var(--size-l);
    max-width: 60ch;
    text-align: center;
    margin: 1rem auto;
}

.work__title {
    font-size: var(--size-2xl);
    margin-bottom: 1rem;
}

.work_image_wrapper {
    position: relative;
}
.work_image_wrapper::after{
    content: '';
    background-color: rgba(0, 191, 255, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

.work_image_wrapper:hover::after {
    background-color: rgba(0, 191, 255, 0.4);
}
.work_paragraph1{
    font-size: var(--size-l);
    color: var(--other-color);
    margin: 1rem 0;
}

.work_paragraph2 {
    font-size: var(--size-l);
    margin-bottom: 1rem;
}

.work_button {
    font-size: var(--size-m);
}

.space_between:not(:last-child ) {
    margin-bottom: 5rem;
}

.work__project-subtitle{
    display: none;
}

 /* xs */

@media (min-width: 475px) {
.projects__title {
        font-size: var(--size-4xl);
        margin-bottom: 1.5rem;
}

.projects__description {
    font-size: var(--size-xl);
    margin: 1.5rem auto;
}

.work_paragraph1{
    font-size: var(--size-xl);
    color: var(--other-color);
    margin: 1.5rem 0;
}

.work_paragraph2 {
    font-size: var(--size-xl);
    margin-bottom: 1rem;
}
.work__title {
    font-size: var(--size-3xl);
    margin-bottom: 1.5rem;
}
.work_button {
    font-size: var(--size-l);
}
}

/* s */

@media (min-width: 640px) {
    .work__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    grid-template-areas: 
        'image1 text1'
        'text2 image2'
        'image3 text3'
        'text4 image4';
}
.work_image1 {
    grid-area: image1;
}
.work_image2 {
    grid-area: image2;
}
.work_image3 {
    grid-area: image3;
}
.work_image4 {
    grid-area: image4;
}
.work_text1{
    grid-area: text1;
}
.work_text2{
    grid-area: text2;
}
.work_text3{
    grid-area: text3;
}
.work_text4{
    grid-area: text4;
}

    .work__title {
        display: none;
    }
    .work_paragraph1{
    font-size: var(--size-l);
    color: var(--other-color);
    margin: 1em 0;
}

.work_paragraph2 {
    font-size: var(--size-l);
    margin-bottom: 1em;
}
.work_button {
    font-size: var(--size-m );
}
.space_between:not(:last-child ) {
    margin-bottom: 0;
}
.work__project-subtitle{
    font-size: var(--size-2xl);
    display: block;
    margin-top: 2rem;
}
.space_between {
    padding: 0 1rem;
}
}

/* m */

@media (min-width: 768px) {
        .work_paragraph1{
    font-size: var(--size-xl);
    color: var(--other-color);
    margin: 1em 0;
}

.work_paragraph2 {
    font-size: var(--size-xl);
    margin-bottom: 1em;
}
.work__project-subtitle{
    font-size: var(--size-3xl);
    display: block;
    margin-top: 2rem;
}
.work_button {
    font-size: var(--size-l );
}
}

/* l */

@media (min-width: 1024px) {
.projects__title {
        font-size: var(--size-5xl);
        margin-bottom: 1.5rem;
}

.projects__description {
    font-size: var(--size-2xl);
    margin: 1.5rem auto;
}
        .work_paragraph1{
    font-size: var(--size-2xl);
    color: var(--other-color);
    margin: 1em 0;
}

.work_paragraph2 {
    font-size: var(--size-2xl);
    margin-bottom: 1em;
}
.work__project-subtitle{
    font-size: var(--size-4xl);
    display: block;
    margin-top: 2rem;
}
.work_button {
    font-size: var(--size-xl );
}
}

/* xl */

@media (min-width: 1280px) {
.projects__title {
        font-size: var(--size-5xl);
        margin-bottom: 2rem;
}

.projects__description {
    font-size: var(--size-2xl);
    margin: 2rem auto;
}
}

/* xxl */
 
/* @media (min-width: 1536px) {
        .container {
        max-width: 1536px
    } 
} */