:root {
    /* colors */
    --light-color: oklch(93.6% 0.032 17.717);
    --dark-color: #00131a;
    --btn-color: oklch(42.4% 0.199 265.638);
    --btn-hover-color: oklch(71.884% 0.08869 275.239);
    --other-color: oklch(70.4% 0.191 22.216);
    --medium-color: oklch(70.4% 0.14 182.503);
    --font-color: oklch(52.5% 0.223 3.958);
    /* font sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-s: 0.875rem;
    --size-m: 1rem;
    --size-l: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem ;
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

.light-mode {
        /* colors */
    --dark-color: oklch(93.6% 0.032 17.717);
    --light-color: #00131a;
    --btn-color: oklch(93.6% 0.032 17.717);
    --medium-color: oklch(52.5% 0.223 3.958);
    --font-color: oklch(52.5% 0.223 3.958);
}
body {
    background-color: var(--dark-color);
    font-family: 'General Sans', sans-serif;
    color: var(--light-color);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}
button {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
}

a {
    color: var(--btn-color);
}

strong {
    color: var(--btn-hover-color);
}

/* scrollbar */

body::-webkit-scrollbar {
  width: 8px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}
 
body::-webkit-scrollbar-thumb {
  background-color: red;
  outline: 1px solid var(--other-color);
}