 /* xs */

/* @media (min-width: 475px) {
    .container {
        max-width: 475px
    }
} */

/* s */

/* @media (min-width: 640px) {
        .container {
        max-width: 645px
    }
} */

/* m */

/* @media (min-width: 768px) {
        .container {
        max-width: 780px
    }
} */

/* l */

/* @media (min-width: 1024px) {
        .container {
        max-width: 1024px
    }
} */

/* xl */

/* @media (min-width: 1280px) {
        .container {
        max-width: 1280px
    }
} */

/* xxl */
 
/* @media (min-width: 1536px) {
        .container {
        max-width: 1536px
    } 
} */

.btn {
    display: inline-block;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--btn-color);
    color: var(--light-color);
    padding: 0.7em 1.5em;
    border-radius: 6px;
    box-shadow: 0px 10px 20px rgba(0, 191, 255, 0.5), 0px 6px 6px rgba(0, 191, 255, 0.5), 0 0 100px -10px var(--btn-color);
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0px 14px 28px rgba(0, 191, 255, 0.25), 0px 10px 8px rgba(0, 191, 255, 0.25), 0 0 120px -10px var(--btn-color);
}

 .container { 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border: 1px solid red; */
 } 

 .section {
    margin-top: 5rem;
 }

 .loading {
    filter: blur(40px) grayscale(100%);
 }

 .loaded {
    filter: blur(0) grayscale(0%);
    transition: 0.7s ease-in-out;
 }

 /* xs */

@media (min-width: 475px) {
    .container {
        max-width: 475px
    }
}

/* s */

@media (min-width: 640px) {
        .container {
        max-width: 645px
    }
}

/* m */

@media (min-width: 768px) {
        .container {
        max-width: 780px
    }
}

/* l */

@media (min-width: 1024px) {
        .container {
        max-width: 1024px;
        margin-top: 3rem;
    }
}

/* xl */

@media (min-width: 1280px) {
        .container {
        max-width: 1280px
    }
}

/* xxl */
 
@media (min-width: 1536px) {
        .container {
        max-width: 1536px
    }
}

